<aside class="sidebar" id="sidebar">

<a href="{% url 'home' %}">
<i class="bi bi-house-fill me-2"></i> Home
</a>

<a href="{% url 'post_list' %}">
<i class="bi bi-bootstrap-fill me-2"></i> Blog
</a>

<a href="{% url 'forum_home' %}">
<i class="bi bi-facebook me-2"></i> Forum
</a>

{% if user.is_authenticated and user.username %}

<a href="{% url 'inbox' %}">
<i class="bi bi-messenger me-2"></i> Inbox
<span class="badge bg-danger">{{ message_count }}</span>
</a>

<a href="{% url 'post_create' %}">
<i class="bi bi-pencil-square me-2"></i> Tulis Blog
</a>

<a href="{% url 'profile' username=user.username %}">
<i class="bi bi-person-fill me-2"></i> Akun
</a>

<a href="{% url 'members' %}">
<i class="bi bi-people-fill me-2"></i> Members
</a>

<a href="{% url 'settings' %}">
<i class="bi bi-gear-fill me-2"></i> Setting
</a>

<!-- ================= ADMIN MENU ================= -->

{% if user.role == "admin" or user.is_superuser %}
<hr>
<a href="{% url 'admin_dashboard' %}">
<i class="bi bi-speedometer me-2"></i> Dashboard
</a>
<a href="{% url 'admin_logs' %}">
<i class="bi bi-journal-text me-2"></i>Logs
</a>

{% endif %}

<!-- ================= SUPERUSER ONLY ================= -->

{% if user.is_superuser %}

<a href="/admin/">
<i class="bi bi-shield-lock me-2"></i> Django
</a>

{% endif %}

<a href="{% url 'logout' %}">
<i class="bi bi-power me-2"></i> Keluar
</a>

{% else %}

<a href="{% url 'login' %}">
<i class="bi bi-box-arrow-in-right me-2"></i> Masuk
</a>

<a href="{% url 'register' %}">
<i class="bi bi-person-plus me-2"></i> Daftar
</a>

{% endif %}

</aside>