{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow">
            <div class="card-body">
                <h3 class="mb-0 fw-bold"><i class="bi bi-person me-3"></i> Masuk</h3>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" name="username" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Masuk</button>
                </form>
                <div class="mt-3 text-center">
                    <small>Belum punya akun? <a href="{% url 'register' %}">Daftar di sini</a></small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}