body {
    background-color: #f4f4f4;
    color: #222;
}

.card, .article, .navbar, .sidebar, .desktop-footer, .comment-box, .notif-badge, .notif-bell, .notif-dropdown, .notif-dropdown.show, .notif-wrapper, .notif-footer, .chat-header, .chat-input, .sent {
    background-color: #COC0C0;
}

