:root {
    --primary-color: #0000cc;
    --text-color: #001a66;
    --bg-color: #e6ecff;
    --card-bg: #ffffff;
    --nav-bg: #0066ff;
    --border-color: #0033ff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.card, .article, .navbar, .sidebar, .desktop-footer, .comment-box, 
.notif-badge, .notif-bell, .notif-dropdown, .notif-dropdown.show, 
.notif-wrapper, .notif-footer {
    background-color: var(--nav-bg) !important;
}
